node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore large source PDF slides to keep git repo light for GitHub & Vercel
*.pdf
*MOOER*

